<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors-Cipmedic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/client/css/home/header.css">
    <link rel="stylesheet" href="/client/css/home/clinics.css">
    <link rel="stylesheet" href="/client/css/home/aboutUs.css">
    <link rel="stylesheet" href="/client/css/home/events.css">
    <link rel="stylesheet" href="/client/css/home/footer.css">

    <link rel="stylesheet" href="/client/css/page/alldoctors.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('../partials/indexHeader.ejs') %>
    <div class="wrapper-grid">
        <div class="dr-card">
            <div class="banner-img">
                <img src="/client/img/doctor/cover-img/cover-img-1.jpg" alt="cover-img">
            </div>
                <img src="/client/img/aboutUs/evn.jpg" alt="Dr" class="profile-img">
                <div class="dr-content">
                    <h4>Dr Mohibul Hoque</h4>
                    <p>
                        <i class="uil uil-user-md"></i>
                        Neurosurgeon
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                        MBBS, MD, MSc
                    </p>
                    <p><i class="uil uil-hospital"></i>
                        <span>Bio:-</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing </p>
                    <div class="km-btn">
                        <a href="#">Know More&rarr;</a></span>
                    </div>
                </div>  
        </div>
        <!-- card-2  -->
        <div class="dr-card">
            <div class="banner-img">
                <img src="/client/img/doctor/cover-img/cover-img-1.jpg" alt="cover-img">
            </div>
                <img src="/client/img/aboutUs/evn.jpg" alt="Dr" class="profile-img">
                <div class="dr-content">
                    <h4>Dr Mohibul Hoque</h4>
                    <p>
                        <i class="uil uil-user-md"></i>
                        Neurosurgeon
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                        MBBS, MD, MSc
                    </p>
                    <p><i class="uil uil-hospital"></i>
                        <span>Bio:-</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing </p>
                    <div class="km-btn">
                        <a href="#">Know More&rarr;</a></span>
                    </div>
                </div>  
        </div>
        <!-- card-3  -->
        <div class="dr-card">
            <div class="banner-img">
                <img src="/client/img/doctor/cover-img/cover-img-1.jpg" alt="cover-img">
            </div>
                <img src="/client/img/aboutUs/evn.jpg" alt="Dr" class="profile-img">
                <div class="dr-content">
                    <h4>Dr Mohibul Hoque</h4>
                    <p>
                        <i class="uil uil-user-md"></i>
                        Neurosurgeon
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                        MBBS, MD, MSc
                    </p>
                    <p><i class="uil uil-hospital"></i>
                        <span>Bio:-</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing </p>
                    <div class="km-btn">
                        <a href="#">Know More&rarr;</a></span>
                    </div>
                </div>  
        </div>
        <!-- card-4  -->
        <div class="dr-card">
            <div class="banner-img">
                <img src="/client/img/doctor/cover-img/cover-img-1.jpg" alt="cover-img">
            </div>
                <img src="/client/img/aboutUs/evn.jpg" alt="Dr" class="profile-img">
                <div class="dr-content">
                    <h4>Dr Mohibul Hoque</h4>
                    <p>
                        <i class="uil uil-user-md"></i>
                        Neurosurgeon
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                        MBBS, MD, MSc
                    </p>
                    <p><i class="uil uil-hospital"></i>
                        <span>Bio:-</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing </p>
                    <div class="km-btn">
                        <a href="#">Know More&rarr;</a></span>
                    </div>
                </div>  
        </div>
        <!-- card-5  -->
        <div class="dr-card">
            <div class="banner-img">
                <img src="/client/img/doctor/cover-img/cover-img-1.jpg" alt="cover-img">
            </div>
                <img src="/client/img/aboutUs/evn.jpg" alt="Dr" class="profile-img">
                <div class="dr-content">
                    <h4>Dr Mohibul Hoque</h4>
                    <p>
                        <i class="uil uil-user-md"></i>
                        Neurosurgeon
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                        MBBS, MD, MSc
                    </p>
                    <p><i class="uil uil-hospital"></i>
                        <span>Bio:-</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing </p>
                    <div class="km-btn">
                        <a href="#">Know More&rarr;</a></span>
                    </div>
                </div>  
        </div>
        <!-- card-6  -->
        <div class="dr-card">
            <div class="banner-img">
                <img src="/client/img/doctor/cover-img/cover-img-1.jpg" alt="cover-img">
            </div>
                <img src="/client/img/aboutUs/evn.jpg" alt="Dr" class="profile-img">
                <div class="dr-content">
                    <h4>Dr Mohibul Hoque</h4>
                    <p>
                        <i class="uil uil-user-md"></i>
                        Neurosurgeon
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                        MBBS, MD, MSc
                    </p>
                    <p><i class="uil uil-hospital"></i>
                        <span>Bio:-</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing </p>
                    <div class="km-btn">
                        <a href="#">Know More&rarr;</a></span>
                    </div>
                </div>  
        </div>
    </div>
    <%- include('../partials/indexFooter.ejs') %>

</body>
</html>