<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error-404-Cipmedic</title>
    <!-- style sheets -->
    <link rel="stylesheet" href="/user/css/main.css">
    <link rel="stylesheet" href="/user/css/header.css" />
    <link rel="stylesheet" href="/user/css/footer.css" />

    <link rel="stylesheet" href="/user/css/page/error.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>
    <%- include('./partials/indexHeader.ejs') %>
    <div class="error-page shadowBox Container">
        <div class="content">
            <h1>404</h1>
            <h4>Oops! Page not found</h4>
            <p>Sorry, the page you are looking for doesn't exist. If you think something is broken, report a problem.
            </p>
            <div class="buttons">
                <a href="/index.html">Return Home</a>
                <a href="#">Report a problem</a>
            </div>
        </div>
    </div>

    <%- include('./partials/indexFooter.ejs') %>
</body>

</html>