<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health-Cipmedic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/client/css/home/header.css">
    <link rel="stylesheet" href="/client/css/home/clinics.css">
    <link rel="stylesheet" href="/client/css/home/aboutUs.css">
    <link rel="stylesheet" href="/client/css/home/events.css">
    <link rel="stylesheet" href="/client/css/home/footer.css">

    <link rel="stylesheet" href="/client/css/page/healthtips.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/solid.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

</head>
<body class="body">
    <%- include('../partials/indexHeader.ejs') %>
    
        <div class="ad-header">
            <p id="ad-headerText">
                Enjoy 30% off on all orders that are placed before 31st of July.
            </p>
            <span id="ad-header-close">&#x2716;</span>
        </div>
        
        <section class="health-tips">
            <aside class="aside">
                <div class="contents">
                    <span id="ar_bl_ht_head">Article</span>
                    <ul class="sideScrollbar">
                        <li><a href="#">Cardiologist</a></li>
                        <li><a href="#">Audiologist</a></li>
                        <li><a href="#">Dentist</a></li>
                        <li><a href="#">ENT specialist</a></li>
                        <li><a href="#">Gynaecologist</a></li>
                        <li><a href="#">Orthopaedic surgeon</a></li>
                        <li><a href="#">Paediatrician</a></li>
                        <li><a href="#">Psychiatrists</a></li>
                        <li><a href="#">Veterinarian</a></li>
                        <li><a href="#">Radiologist</a></li>
                        <li><a href="#">Pulmonologist</a></li>
                        <li><a href="#">Endocrinologist</a></li>
                        <li><a href="#">Oncologist</a></li>
                        <li><a href="#">Neurologist</a></li>
                        <li><a href="#">Cardiothoracic surgeon</a></li>
                    </ul>
                </div>
            </aside>
            <article>
                <div class="articleTitle">
                    Neuro<span>logist</span> 
                </div>
                <div class="imgMain">
                    <img src="/client/img/main/ad.jpg" alt="ads">
                </div>
                <div class="readArticle">
                    <p>
                        <span class="articleHeading">Heading:</span>
                        Plenty of medical students have questions when they're first starting out — like what are all of the physician subspecialties, and what the most common doctor specialty is in your field? But with so many paths to choose from, and so many stops along the way, there might be times you need to know even more.
                        <span class="readMore-text">
                            Anatomical pathology is one of those medical doctor specialties that study the morphologic aspects of a disease. An anatomical pathologist's key specialization is to diagnose diseased tissue and investigate the mechanisms and development of the disease. They do this by examining the tissues removed by needle aspiration, surgical procedures, or autopsy. Anatomical is one of the better medical specialties for doctors who like working alone, in a lab setting, or in a more academic environment. 
                        </span>
                    </p>
                    <span class="read-more-btn">Read More....</span>
                </div>
            </article>
            <aside>
                <div class="ad_health">
                    <div class="ad_health_img">
                        <img src="/client/img/main/ad.jpg" alt="Ad">
                        <span>Ad</span>
                    </div>
                </div>
                <div class="relatedContent">
                    <div class="sideContent">
                        <div class="contentHeader">
                            <span>Related Topics</span>
                            <i class="uis uis-arrow-circle-down" id="uis-arrow"></i>
                        </div>
                        <ul id="subMenu">
                            <li><a href="#">Health Tips</a></li>
                            <li><a href="#">Articles</a></li>
                            <li><a href="#">Blogs</a></li>
                        </ul>
                    </div>
                    <div class="sideContent_topic">
                        <ul>
                            <li><a href="#">Oncology</a></li>
                            <li><a href="#">Rheumatology</a></li>
                            <li><a href="#">Respirology</a></li>
                            <li><a href="#">Radiation Oncology</a></li>
                            <li><a href="#">Psychiatry</a></li>
                            <li><a href="#">Plastic Surgery</a></li>
                            <li><a href="#">Physical Medicine and Rehabilitation (PM & R)</a></li>
                            <li><a href="#">Pediatrics</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </section>
    
        <%- include('../partials/indexFooter.ejs') %>
        
        <!-- javascript -->
<script src="/client/js/H_tips.js"></script>


</body>
</html>