<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy-Cipmedic</title>

     <!-- style sheets -->
     <link rel="stylesheet" href="/client/css/home/header.css">
     <link rel="stylesheet" href="/client/css/home/clinics.css">
     <link rel="stylesheet" href="/client/css/home/aboutUs.css">
     <link rel="stylesheet" href="/client/css/home/events.css">
     <link rel="stylesheet" href="/client/css/home/footer.css">

     <link rel="stylesheet" href="/client/css/page/privacypolicy.css">
 
     <!-- icons -->
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
     <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
 
</head>
<body>
    <%- include('../partials/indexHeader.ejs') %>

    <div class="mainContainer shadowBox">
        <div class="privacyPolicy ">
            <h1 class="textHeader">Privacy Policy</h1>
            <hr>
            <p>Thank you for visiting our website, where you can find medical clinics and doctors and schedule appointments with them. Your privacy is important to us, and we want to ensure that your personal information is protected. This Privacy Policy describes how we collect, use, and share your personal information when you use our website.</p>
<hr>
            <h3>Information We Collect</h3>
            <p>When you use our website, we may collect the following information:</p>
            <ul>
                <li>Personal information, such as your name, email address, phone number, and address.</li>
                <li>Information about your usage of our website, such as the pages you visit, the time you spend on each page, and the devices you use to access our website.</li>
                <li>Information about your medical history, symptoms, and medications if you choose to provide this information when scheduling an appointment with a doctor.</li>
            </ul>
            <hr>

            <h3>How We Use Your Information</h3>
            <p>We may use your personal information for the following purposes:</p>
            <ul>
                <li>To provide you with the services you request, such as scheduling appointments with medical clinics and doctors.</li>
                <li>To communicate with you regarding your appointments or any changes to your appointments.</li>
                <li>To improve our website and services, such as by analyzing usage data and feedback from users.</li>
                <li>To comply with legal obligations, such as responding to legal requests or investigations.</li>
            </ul>
            <p>We do not share your personal information with third parties for their own marketing purposes. However, we may share your personal information with medical clinics and doctors to schedule appointments and provide you with the requested services. We may also share your personal information with our service providers who assist us with website hosting, data analysis, and other services.</p>
            <hr>

            <h3>Your Choices and Rights</h3>
            <p>You have certain choices and rights regarding your personal information:</p>
            <ul>
                <li>You may opt out of receiving promotional emails from us by following the instructions in our emails.</li>
                <li>You may request to access, rectify, or delete your personal information by contacting us.</li>
                <li>You may object to our processing of your personal information, depending on your jurisdiction.</li>
            </ul>
            <p>To exercise these rights, please contact us using the contact details provided below.</p>
            <hr>

            <h3>Security of Your Information</h3>
            <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee the absolute security of your information.</p>
            <hr>
            <h3>Changes to Our Privacy Policy</h3>
            <p>We may update this Privacy Policy from time to time, and we will post the updated version on our website. We encourage you to review this Privacy Policy periodically.</p>
            <hr>
            <h3>Contact Us</h3>
            <p>If you have any questions or concerns about this Privacy Policy or our use of your personal information, please contact us at <a href="mailto:cipmedicquery@gmail.com">cipmedicquery@gmail.com</a>.</p>
        </div>
    </div>
    
    <%- include('../partials/indexFooter.ejs') %>

</body>
</html>