<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking System | Cipmedic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/user/css/main.css">
    <link rel="stylesheet" href="/user/css/header.css" />
    <link rel="stylesheet" href="/user/css/footer.css" />

    <link rel="stylesheet" href="/user/css/pages/productInfo.css">

    
    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css" />

</head>
<body>
    

    <%- include('../partials/indexHeader.ejs') %>

    <section class="productBox">
        <h1>Appointment Booking Software</h1>
        <p class="small-title">Efficient, Reliable, and Patient-Centric</p>
        <div class="pro-image Container">
            <!-- <img src="/user/img/main/ss5.png" alt="product"> -->
            <iframe width = "560" src="https://www.youtube.com/embed/EgDmCbhmstU?si=b-fAI9J-j9ul3fhO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>*Appointment System Working Demo</figcaption>
        </div>
        <div class="pbutton ">
            <button class="boas">Get It Now<i class="uil uil-parcel"></i></button>
        </div>
        <div class="features">
            <h3>Features</h3>
            <ul>
                <li>Online appointment scheduling</li>
                    <li>Multi-location support</li>
                    <li>Patient database management</li>
                    <li>Automated Messages</li>
            </ul>
            <i>*Requires a PC/laptop for the software</i>
            <br><br>
            <h3>Benefits</h3>
            <ul>
                <li>Improved patient experience</li>
                <li>Enhanced staff efficiency</li>
                <li>Seamless record-keeping</li>
                <li>Compliance with data security standards.</li>
            </ul>
        </div>
        <div class="usage Container">
            <h3>How to Use</h3>
            <div class="flox">
                <div class="useBox">
                    <p>1. Click on the Book Appointment option</p>
                    <img src="/user/img/main/ss1.png" alt="">
                </div>
                <div class="useBox">
                    <p>2. Enter patient details</p>
                    <img src="/user/img/main/ss2.png" alt="">
                </div>
                <div class="useBox">
                    <p>3. Select a Doctor</p>
                    <img src="/user/img/main/ss3.png" alt="">
                </div>
                <div class="useBox">
                    <p>4. Confirm your appointment</p>
                    <img src="/user/img/main/ss4.png" alt="">
                </div>
            </div>
        </div>
        
        <div class="Container">
            <h3>Pricing</h3>
            <figcaption class="smau">*Discount available for a limited period only</figcaption>
            <button class="use boas">Get a Quote<i class="uil uil-book"></i></button>
        </div>
        <div class="Container">
            <h3>Clinic Listing</h3>
            <p>List your clinic with us for free</p>
            <p class="smau lar">*This is a not a part of the appointment booking System</p>
            <button class="use boas">Contact Us<i class="uil uil-phone"></i></button>
        </div>
    </section>


    <!-- footer  -->
    <%- include('../partials/indexFooter.ejs') %>
</body>
</html>