<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Condition-Cipmedic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/client/css/home/header.css">
    <link rel="stylesheet" href="/client/css/home/clinics.css">
    <link rel="stylesheet" href="/client/css/home/aboutUs.css">
    <link rel="stylesheet" href="/client/css/home/events.css">
    <link rel="stylesheet" href="/client/css/home/footer.css">

    <link rel="stylesheet" href="/client/css/page/privacypolicy.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('../partials/indexHeader.ejs') %>

    <div class="mainContainer shadowBox">
        <div class="privacyPolicy ">
            <h1 class="textHeader">Privacy Policy</h1>
            <hr>

            <p>By using the services of our website, you agree to the following terms and conditions:</p>
            <h3>1.Disclaimer of Liability</h3>
            <p>The information provided on our website about medical clinics and doctors is for informational purposes only. We are not responsible for any diagnoses, treatments or medical advice provided by any doctors or medical clinics listed on our website. We do not guarantee the accuracy or completeness of the information provided.</p>

            <h3>2.Users Must Be Physicians or Patients</h3>
            <p>Only individuals that are medical professionals or seeking medical treatment are allowed to create an account on our website. Any other individual will be immediately banned from using the website.</p>
            
            <h3>3.Appointments</h3>
            <p>Users can book appointments with doctors or medical clinics through our website. We are not responsible for any cancellation or rescheduling of the appointments. Users are advised to check their appointments with the doctors or medical clinics directly.</p>

            <h3>4.User Reviews and Ratings</h3>
            <p>Users may provide reviews and ratings of doctors or medical clinics listed on our website. Users must provide truthful and honest ratings and reviews. We reserve the right to edit or remove any reviews or ratings that are found to be fraudulent, defamatory or irrelevant.</p>

            <h3>5.Non-Commercial Use</h3>
            <p>Our website shall only be used for personal and non-commercial use. Any use by individuals or organizations for commercial purposes, such as marketing or promotion of products or services, is strictly prohibited.</p>

            <h3>6.Intellectual Property</h3>
            <p>Our website contains intellectual property including trademarks, copyrights and proprietary information. Users may not copy, distribute, or use any content from our website without our express written permission.</p>

            <h3>7.Termination</h3>
            <p>We reserve the right to terminate the access of any user to our website at any time, without any notice or explanation.</p>

            <h3>8.Indemnification</h3>
            <p>Users agree to indemnify and hold us harmless from any claims, damages or expenses, including legal fees, arising out of the use of our website.</p>

            <h3>9.Governing Law</h3>
            <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of state and country.</p>
            
            <h3>10.Changes to Terms and Conditions</h3>
            <p>We may update and modify these Terms and Conditions from time to time without notice. Users are advised to review these Terms and Conditions regularly.</p>
            
        </div>
    </div>
    <%- include('../partials/indexFooter.ejs') %>

</body>
</html>