<footer>
    <nav id="bottomNav">
        <a  data-n="ApplyRequest" ><span class="symbols-rounded">mark_email_read</span>Apply request<span id="cout"><%= aplReq[0].cout>=1?'+'+aplReq[0].cout:'' %></span></a>
        <a  data-n="" action><span class="symbols-rounded">home</span> Home </a>
        <a  data-n="settings"><span class="symbols-rounded">help</span>Get Help</a>
    </nav>
</footer>