:root{
    --body-color : rgb(242, 242, 242);
    --font-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --blue: rgb(0, 153, 255);
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content h1{
    font-size: 13em;
}
.content h4{
    font-size: 2.5em;
    margin-top: -5%;
}
.content p{
    font-size: 1.2em;
    color: #0d0d0d;
}
.content .buttons{
    display: flex;
    width: 100%;
}
.content .buttons a{
    width: 25%;
    text-decoration: none;
    color: var(--background-color);
    background: var(--font-color);
    border: 2px solid var(--font-color);
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin: 3% auto;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;
}
.content .buttons a:hover{
    border: 2px solid var(--font-color);
    background: var(--background-color);
    color: var(--font-color);
}
/* responsive */
@media (max-width: 680px){
    .content h1{
        font-size: 10em;
    }
    .content h4{
        font-size: 2em;
    }
    .content p{
        font-size: 1.1em;
    }
    .content .buttons a{
        width: 40%;
    }
}
@media (max-width: 480px) {
    .content h1{
        font-size: 8em;
    }
    .content h4{
        font-size: 1.8em;
    }
    .content p{
        font-size: 1.1em;
    }
    .content .buttons{
        flex-direction: column;
    }
    .content .buttons a{
        width: 50%;
    }
}