<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Cipmedic</title>

    <link rel="stylesheet" href="/admin/css/login.css">
    <link rel="stylesheet" href="admin/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>

    <div class="login-container">
        <header>Admin Login</header>
        <form action="auth" method="post">
            <div class="user input">
                <label>Username</label>
                <input class="input" type="text" name="Username" placeholder="@Username">
            </div>
            <div class="user input">
                <label>Password</label>
                <input type="password" name="Password" placeholder="Password">
                <i class="uil uil-eye"></i>
            </div>
            <div class="user buton">
                <button type="submit"> Login</button>
            </div>
                
        </form>
    </div>

    <div class="power">
        <p>Powered by Cipmedic</p>
        <p>Copyright @ 2023</p>
    </div>

</body>

</html>
