<header>
    <div onclick="window.location='/'" class="logo">
        Cipmedic
    </div>
    <nav id="navbar">
        <ul class="nav-list" id="navlist">
            <li><a href="/">Home</a></li>
                <li><a href="/p/clinics">Clinics</a></li>
                <li><a href="/p/aboutus">About Us</a></li>
                <li><a href="/p/contactus">Contact Us</a></li>
                <li><a href="/p/login">Login
                    <i class="uil uil-user"></i>
                </a></li>
        </ul>
    </nav>
    <input type="checkbox" id="navCheck">
    <label for="navCheck" class="mobile-nav-icon" id="nav-menu">
        <i class="uil uil-bars"></i>
    </label>
</header>