<header>
    <div onclick="window.location='/'" class="logo">
        Cipmedic
    </div>
    <nav id="navbar">
        <ul class="nav-list" id="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/p/clinics">Clinics</a></li>
            <li><a href="/p/aboutus">About Us</a></li>
            <li><a href="/p/contactus">Contact Us</a></li>
            <li><a href="/p/service">Enquire&rarr;</a></li>
            </li>
        </ul>
    </nav>
    <div class="uil uil-bars" id="hamburger"></div>
</header>