<footer>
    <!-- <link rel="stylesheet" href="/admin/css/anim.css"> -->
    <div class="footer-Content">
        <div class="firstMenu around bk-ground">
            <div class="logo">Cipmedic</div>
            <p>Cipmedic has a team of highly qualified and experienced doctors and healthcare professionals who are available online to provide consultations and medical advice. These professionals are trained to diagnose and treat various medical conditions and provide personalized treatment plans based on the patient's needs.</p>

        </div>

        <div class="secondMenu around bk-ground">
            <h4 class="transForm">Important Links</h4>
            <ul class="footList">
                <li><a href="/p/clinics">Clinics</a></li>
                <li><a href="/p/aboutus">About Us</a></li>
                <li><a href="/p/health-tips">Health Tips</a></li>
                <li><a href="/p/privacy-policy">Privacy Policy</a></li>
                <li><a href="/p/terms-conditions">Terms & Conditions</a></li>
                <li><a href="/p/contactus">Contact Us</a></li>
            </ul>
        </div>

        <div class="thirdMenu around">
            <h4 class="transForm">Social Links</h4>

            <div class="socialIcon">
                <span><a href="#">
                        <i class="uil uil-whatsapp"></i>
                    </a></span>
                <span><a href="#">
                        <i class="uil uil-instagram"></i>
                    </a></span>
                <span><a href="#">
                        <i class="uil uil-facebook-f"></i>
                    </a></span>
                <span><a href="#">
                        <i class="uil uil-youtube"></i>
                    </a></span>
                <span><a href="#">
                        <i class="uil uil-twitter"></i>
                    </a></span>
            </div>

            <div class="newsletter">
                <input type="email" placeholder="Type your email..." id="socialEmail">
                <a href="#">
                    <button class="btn ft-btn">Send Email</button>
                </a>
            </div>
            <p>Sign up for newsletter !</p>

        </div>
    </div>
</footer>

<div class="copy">
    All rights reserved &nbsp;&nbsp;&nbsp;&nbsp&copy; Raynrel Infotec @2023
</div>
<script src="/client/js/script.js"></script>
