:root{
    --body-color : rgb(242, 242, 242);
    --font-color: rgb(0, 0, 0);
    --shadow-color-1: rgb(190, 190, 190);
    --shadow-color-2: rgb(255, 255, 255);
    --background-color: rgba(0, 0, 0, 0.6);
    --event-color: rgb(0, 0, 0, 0.1);
}

.eventText{
    display: inline-block;
}

.eventText p{
    font-size: 1.3em;
}

.eventBox{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    
}
.event-firstBox{
    width: 50%;
    background: var(--background-color);
    color:#fff;
    line-height: 1.9em;
}

.event-firstBox-img{
    width: 100%;
}

.event-firstBox img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.event-firstBox p{
    padding:0 2em;
}

.rv-btn{
    margin: 1em 2em;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

.rv-btn:hover{
    border-radius: 0.5em;
}

.event-secondBox{
    width: 48%;
    background: var(--background-color);
}

.event-secondChild{
    height: 29.5em;
    overflow-y: scroll;

}
.profile-card{
    border-bottom: 0.1em solid var(--shadow-color-2);
    /* max-height: 10em; */
    display: flex;
    align-items: center;
    padding: 2em;
    background: gray;
    color: var(--shadow-color-2);
}

.profile-card a{
    color: var(--shadow-color-2);
    text-decoration: none;
}

.profileFlex{
    display: flex;
    align-items: center;
}

.profile-card img{
    width: 100px;
    height: 100px;
    border: 0.1em solid var(--shadow-color-2);
    border-radius: 0.9em;
}

.profile-cardInfo{
    margin-left: 2em;
    line-height: 1.9em;
}

.uil-color{
    color: var(--shadow-color-2);
}

/* responsive */

@media(max-width: 960px){
    .eventBox{
        flex-direction: column;
    }

    .event-firstBox, .event-secondBox{
        width: 100%;
        margin-bottom: 2em;
    }
}

@media(max-width: 480px){
    .eventMainBox{
        padding: 1em;
        width: 80%;
    }

    .eventText p{
        font-size: 1em;
    }
    .profile-card{
        align-items: flex-start;
        flex-direction: column;
        padding: 1em;
    }
    .profile-card img{
        width: 80px;
        height: 80px;
    }
    .profile-cardInfo{
        margin-left: 1em;
    }

    
}