:root{
    --body-color : rgb(242, 242, 242);
    --font-color: rgb(0, 0, 0);
    --shadow-color-1: rgb(190, 190, 190);
    --shadow-color-2: rgb(255, 255, 255);
    --background-color: rgba(0, 0, 0, 0.6);
    --event-color: rgb(0, 0, 0, 0.1);
    --wp-color: rgb(37, 211, 102);
    --is-color: rgb(225, 48, 108);
    --fb-color: rgb(59, 89, 152);
    --yt-color: rgb(255, 0, 0);
    --tw-color: rgb(29, 161, 242);
    --blue: rgb(0, 153, 255);
}

.footer-Content{
    display: flex;
    background: var(--shadow-color-2);
}

.around{
    padding: 2em;
}

.transForm{
    text-transform: uppercase;
}

.bk-ground{
    border-right: 1px solid var(--background-color);
}
.firstMenu{
    width: 50%;
}

.firstMenu p{
    line-height: 1.9em;
}
.secondMenu{
    width: 20%;
}

.footList{
    margin-top: 0.5em;
}

.footList li{
    list-style: none;
    line-height: 1.9em;
    font-size: 1.1em;
}

.footList li a{
    color: var(--font-color);
    text-decoration: none;
}

.footList li a:hover{
    color: var(--blue);
}
.thirdMenu{
    width: 30%;
}

.socialIcon{
    display: flex;
    margin-top: 1em;
}

.socialIcon span{
    margin-right: 2em;
    font-size: 1.5em;
}


.uil-whatsapp:hover{
    color: var(--wp-color);
}
.uil-instagram:hover{
    color: var(--is-color);
}
.uil-facebook-f:hover{
    color: var(--fb-color);
}
.uil-youtube:hover{
    color: var(--yt-color);
}
.uil-twitter:hover{
    color: var(--tw-color);
}

#socialEmail{
    padding: 0.4em 0.8em;
    outline: none;
}

.newsletter{
    margin: 0.5em auto;
}

.ft-btn{
    margin: 0 12px;
}
/* copyright */
.copy{
    text-align: center;
    height: 2em;
    text-transform: uppercase;
}



/* responsive */

@media (max-width: 960px){
    .footer-Content{
        flex-direction: column;
        padding: 2em;
    }
    .firstMenu, .secondMenu, .thirdMenu{
        width: 100%;
        margin: auto;
    }
    .bk-ground{
        border-right: 0;
        margin-bottom: 2em;
    }
    .around{
        padding: 0;
    }
}

@media (max-width: 480px) {
    .newsletter{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        
    }
  
}